{% extends 'base.html' %}

{% block content %}
<h1>Update Todo Item</h1>

<form action="{% url 'update_todo_item' todo_item.id %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{ todo_item.title }}">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{ todo_item.description }}</textarea>
  </div>
  <div class="form-group">
    <label for="due_date">Due Date</label>
    <input type="date" class="form-control" id="due_date" name="due_date" value="{{ todo_item.due_date }}">
  </div>
  <button type="submit" class="btn btn-primary">Update Todo Item</button>
</form>
{% endblock %}